<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Training Session 3: Example 5</title>
		<style>
			body { padding-top: 20px; }
		</style>
		<link href="../../../css/bootstrap.min.css" rel="stylesheet"/>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="hero-unit">
					<div class="row">
						<h2>Structuring your web apps via Backbone.JS</h2>
					</div>
					<div class="row">
						<h3>Training Session 3: Understanding Backbone View, Events &amp; Templates</h3>
					</div>
					<hr>
					<p class="lead">How to run this example.</p>
					<ol>
						<li>Open Example-5.html in browser <span class="label label-info">recommended</span> Google Chrome.</li>
						<li>Press F12, go to console tab.</li>
						<li>See the message get displayed on that console tab.</li>
					</ol>
					<hr>
					<p class="lead">Visit to <a href="https://github.com/hegdeashwin/Backbone/tree/master/Training-Session-3" target="_blank">Github</a> for more information regarding the training session 3.</p>
				</div>
			</div>
			<div class="row" id="directionApi">
				<script type="text/template" id="routesTable">
					<table class="table table-bordered">
				        <thead>
				          <tr>
				            <th>Routes</th>
				            <th>Bounds</th>
				          </tr>
				        </thead>
				        <tbody>
				          <tr>
				            <td rowspan="2">North East</td>
				            <td calspan="2">Latitude</td>
				            <td><%= ne_lat %></td>
				          </tr>
				          <tr>
				            <td>Longitude</td>
				            <td><%= ne_lng %></td>
				          </tr>
				          <tr>
				            <td rowspan="2">South West</td>
				            <td>Latitude</td>
				            <td><%= sw_lat %></td>
				          </tr>
				          <tr>
				            <td>Longitude</td>
				            <td><%= sw_lng %></td>
				          </tr>
				        </tbody>
				    </table>
			    </script>
			</div>
		</div>

		<!-- Step 1:
			Include jQuery, Here the jQuery is included with in js directory,
		    Thus the relative path for the file becomes ../../../js/jquery-min.js.

		    IMPORTANT NOTE:
		    Backbone.JS has light dependence on jQuery for DOM manipulation.
		-->
		<script src="../../../js/jquery-min.js" type="text/javascript"></script>

		<!-- Step 2:
			Include Underscore, Here the Underscore is included with in js directory,
			Thus the relative path for the file becomes ../../../js/underscore-min.js

			IMPORTANT NOTE:
			Underscore.js should always included before Backbone.JS.
			else Browser console will show error, because Backbone’s only dependency is Underscore.js
		-->
		<script src="../../../js/underscore-min.js" type="text/javascript"></script>

		<!-- Step 3:
			Include JSON2, Here the JSON2 is included with in js directory,
			Thus the relative path for the file becomes ../../../js/json2.js

			IMPORTANT NOTE:
			json2.js should always included for JSON support for older browsers.
		-->
		<script src="../../../js/json2.js" type="text/javascript"></script>

		<!-- Step 4:
			Include Backbone, Here the Backbone is included with in js directory,
			Thus the relative path for the file becomes ../../../js/backbone.js
		-->
		<script src="../../../js/backbone-min.js" type="text/javascript"></script>

		<!-- Step 4.5: 
			From v3 release onwards; Google Map API v3 needs to be loaded with API Key.
		-->
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBEBDGlIQk4WtRO1XgGE7mJXEBq6umolO4&sensor=false"></script>
		
		<!-- Step 5:
			Include example-main-5.js, Here the example-main-5.js is included with in js directory,
			Thus the relative path for the file becomes example-main-5.js.

			NOTE: example-main-5.js is custom user defined file.
			You can change its name as per your requirements.

			example-main-5.js is where your application begins.
			You should customize it in order to initialize your views, models, collections and routers.
		-->
		<script src="example-main-5.js"></script>
	</body>
</html>